:root {
    background: #323232;
    font-family: sans-serif;
    color: #adaaaa;
    font-size: 20px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
form div{
    margin: 10px;
}
div label{
    margin: 0 10px 0 10px;
}

div input{
    padding: 0.8rem;
    font-size: 16px;
    border-radius: 5px;
    flex: 1;
}

div select{
    padding: 0.8rem;
    font-size: 16px;
    border-radius: 5px;
    flex: 1;
}

.btn{
    outline: none;
    border: none;
    padding: 0.8rem;
    font-size: 16px;
    border-radius: 5px;
    width: 200px;
    margin-left: 10px;
}

.btn:hover{
    background: #4a4a4a;
    color: white;
}

.btn-danger{
    background: rgb(244, 26, 26);
    color: white;
}

.btn-success {
    background: rgb(21, 189, 21);
    color: white;
}

.btn-success:hover{
    background: rgb(0, 253, 0);
    color: #afadad;
}

.btn-danger:hover{
    background: rgb(255, 60, 60);
}

#port{
    width: 50px;
}